<footer class="footer">
  <section class="map">
    <h2 class="visually-hidden">Как нас найти</h2>
    <picture>
      <source type="image/webp" srcset="images/content/bg-map.webp">
      <img class="map__image" src="images/content/bg-map.png" alt="Офис по адресу ул. Большая Конюшенная, д. 19/8 Санкт-Петербург" width="1440" height="416">
    </picture>
    <div class="map__interactive" id="map"></div>
  </section>
  <div class="footer__contacts contacts">
    <p class="contacts__title">Nёrds design studio</p>
    <p class="contacts__text">191186, Санкт-Петербург,<br>ул. Б. Конюшенная, д. 19/8</p>
    <p class="contacts__text">
      тел.&nbsp;
      <a class="contacts__link" href="tel:+78122757575">+7 (812) 275-75-75</a>
    </p>
    <a class="contacts__button button button--red" href="feedback.html">Напишите нам</a>
  </div>
  <div class="footer__social content-wrapper">
    <ul class="social-links">
      <li class="social-links__item">
        <a class="social-links__link" href="https://vk.com" aria-label="Мы в ВКонтакте">
          <svg class="social-links__icon" width="26" height="15">
            <use xlink:href="images/sprite.svg#vk"></use>
          </svg>
        </a>
      </li>
      <li class="social-links__item">
        <a class="social-links__link" href="https://www.facebook.com" aria-label="Мы в Facebook">
          <svg class="social-links__icon" width="12" height="22">
            <use xlink:href="images/sprite.svg#fb"></use>
          </svg>
        </a>
      </li>
      <li class="social-links__item">
        <a class="social-links__link" href="https://www.instagram.com" aria-label="Мы в Instagram">
          <svg class="social-links__icon" width="21" height="21">
            <use xlink:href="images/sprite.svg#insta"></use>
          </svg>
        </a>
      </li>
    </ul>
    <div class="social-offering">
      <p class="social-offering__title">Давайте дружить, это выгодно!</p>
      <p class="social-offering__text">Скидка 10% для друзей из социальных сетей.</p>
    </div>
  </div>
</footer>
