<footer class="footer">
  {% if map == 'show' %}
  <section class="map">
    <h2 class="visually-hidden">Как нас найти</h2>
    <picture>
      <source type="image/webp" srcset="images/content/bg-map.webp">
      <img class="map__image" src="images/content/bg-map.png" alt="Офис по адресу ул. Большая Конюшенная, д. 19/8 Санкт-Петербург" width="1440" height="416">
    </picture>
    <div class="map__interactive" id="map"></div>
  </section>
  <div class="footer__contacts contacts">
    <p class="contacts__title">Nёrds design studio</p>
    <p class="contacts__text">191186, Санкт-Петербург,<br>ул. Б. Конюшенная, д. 19/8</p>
    <p class="contacts__text">
      тел.&nbsp;
      <a class="contacts__link" href="tel:+78122757575">+7 (812) 275-75-75</a>
    </p>
    <a class="contacts__button button button--red" href="feedback.html">Напишите нам</a>
  </div>
  {% endif %}
  <div class="footer__social content-wrapper">
    <ul class="social-links">
      <li class="social-links__item">
        <a class="social-links__link" href="https://vk.com" title="Наша группа ВКонтакте" aria-label="Наша группа ВКонтакте" target="_blank" rel="nofollow noopener">
          <svg class="social-links__icon" width="25" height="25">
            <use xlink:href="images/sprite.svg#vk"></use>
          </svg>
        </a>
      </li>
      <li class="social-links__item">
        <a class="social-links__link" href="https://t.me" title="Наш канал в Телеграм" aria-label="Наш канал в Телеграм" target="_blank" rel="nofollow noopener">
          <svg class="social-links__icon" width="25" height="25">
            <use xlink:href="images/sprite.svg#telegram"></use>
          </svg>
        </a>
      </li>
      <li class="social-links__item">
        <a class="social-links__link" href="https://www.youtube.com" title="Наш канал в YouTube" aria-label="Наш канал в YouTube" target="_blank" rel="nofollow noopener">
          <svg class="social-links__icon" width="25" height="25">
            <use xlink:href="images/sprite.svg#youtube"></use>
          </svg>
        </a>
      </li>
      <li class="social-links__item">
        <a class="social-links__link" href="https://github.com/NemtsevK/nerds" title="Исходный код в GitHub" aria-label="Исходный код в GitHub" target="_blank" rel="nofollow noopener">
          <svg class="social-links__icon" width="25" height="25">
            <use xlink:href="images/sprite.svg#github"></use>
          </svg>
        </a>
      </li>
    </ul>
    <div class="social-offering">
      <p class="social-offering__title">Давайте дружить, это выгодно!</p>
      <p class="social-offering__text">Скидка 10% для друзей из социальных сетей.</p>
    </div>
  </div>
</footer>
