<header class="header">
  <div class="content-wrapper">
    <nav class="nav">
      <a class="header-logo" href="index.html">
        <img class="header-logo__image" src="images/brand/logo.svg" alt="Логотип дизайн-студии «Нёрдс»" width="160" height="65">
      </a>
      <ul class="nav__list">
        <li class="nav__item">
          <a class="nav__link" href="blank.html">Студия</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="blank.html">Клиенты</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="catalog.html">Магазин</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="blank.html">Контакты</a>
        </li>
      </ul>
      <div class="nav__user">
        <a class="nav__link nav__link--icon nav__link--icon-cart" href="blank.html">Корзина</a>
      </div>
    </nav>
  </div>
</header>
